{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Manly Mustache Contest 2013</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
        <link href='http://fonts.googleapis.com/css?family=Belleza' rel='stylesheet' type='text/css'>
        <!--<link href='http://fonts.googleapis.com/css?family=Cherry+Swash' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Qwigley' rel='stylesheet' type='text/css'>-->
        {% block extrastyle %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1>Manly Mustache 2013</h1>
            {% block content %}
            {% endblock %}
        </div>
        <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>