{% load staticfiles %}
<!DOCTYPE html> <html>
    <head>
        <title>Manly Mustache Contest 2013</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
        <link href='http://fonts.googleapis.com/css?family=Belleza' rel='stylesheet' type='text/css'>
        <!--<link href='http://fonts.googleapis.com/css?family=Cherry+Swash' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Qwigley' rel='stylesheet' type='text/css'>-->
        {% block extrastyle %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="col-3 col-lg-3 pull-right">
            {% if user.is_authenticated %}
                {% if user.gentleman %}
                Logged in as <strong><a href="{% url 'voting:profile' %}">{{user.username}}</a></strong> | <a href="{% url 'voting:logout' %}">Logout</a>
                {% else %}
                Logged in as <strong>{{ user.username }}</strong> | <a href="{% url 'voting:logout' %}">Logout</a>
                {% endif %}
            {% else %}
                <a href="{% url 'voting:participate' %}">Participate</a> | <a href="{% url 'voting:register' %}">Register</a> | <a href="{% url 'voting:login' %}">Login</a>
            {% endif %}
            </div>

            <h1><a href="{% url 'home' %}">Manly Mustache 2013</a></h1>

            {% if messages %}
                <ul class="messages list-unstyled nav nav-pills">
                {% for message in messages %}
                    <li class="col-xs-12 alert alert-dismissable {% if message.tags %}alert-{{message.tags}}{% endif %}">
                        <span class="pull-left">{{message}}</span>
                        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
        <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>