{% load staticfiles %}
{% load compress %}
<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>Manly Mustache Contest 2013</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" />
    {% if debug %}
      <link rel="stylesheet/less" type="text/css" media="all" href="{% static 'less/style.less' %}" />
      <script src="{% static 'js/less-1.5.0.min.js' %}"></script>
    {% else %}
      {% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/style.less' %}" />
      {% endcompress %}
    {% endif %}
    {% block extrastyle %}
    {% endblock %}
    </head>
    <body>
      {% if messages %}
        <ul class="messages list-unstyled nav nav-pills">
          {% for message in messages %}
            <li class="col-xs-12 alert alert-dismissable {% if message.tags %}alert-{{message.tags}}{% endif %}">
              <span class="pull-left">{{message}}</span>
              <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% block content %}
      {% endblock %}


<!--         <div class="nav navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="row">
                    <em>The Manly Mustache Contest is a contribution towards raising awareness for men's health issues. See <a href="http://movember.com">Movember</a> for more information.</em>
                </div>
            </div>
        </div> -->

    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="{% static 'js/application.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/waypoints.js' %}"></script>
    <script src="{% static 'js/waypoints-sticky.js' %}"></script>
    <script type="text/javascript">
      Mustache.Layout.setMasthead();
      $(document).ready(function() {
        $('nav.navigation').waypoint('sticky', {
          offset: -66
        });
      });
    </script>
  </body>
</html>