/* custom.css */

@import 'bootstrap/bootstrap';

@media (max-width: 720px) {
	body { text-align: center; }
}

body {
	background-color: #fff;
	padding-bottom: 40px;
}

body,h1,h2,h3,h4 {
    font-family: "Belleza", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.1px;
    color: #444;
}

h1 {
	//color: #7C5A3C;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

h2 {
	font-size: 40px;
}

label {
	font-weight: 400;
}

.nav.navbar-default.navbar-fixed-bottom {
	box-shadow: 0 -5px 5px rgba(0,0,0,0.1);
	background-color: #444;
	color: #ccc;
	padding: 2px;
}

.pointer { cursor: pointer; }

.gentleman .form-group {
	margin-bottom: 0;
	line-height: 40px;
	&:hover { background-color: #f7f7f7; }
	label { cursor: pointer; }
}

img {
	border: solid 1px #ccc;
	background-color: #aaa;
	padding: 1px;
}

.comments {
	text-align: left;
	padding: 1em;

	[id^="comments"],
	[id^="comments"] p
	{ margin-left: 1em; }

	form { margin-top: 1em; }
	h4 {
		border-bottom: solid 1px #ddd;
		margin-bottom: 0;
		box-shadow: 0 5px 12px -3px rgba(0,0,0,0.1);
	}
}

.dontforget,
.or {
	border: solid 1px #aaa;
	border-radius: 15px;
	background-color: #f1edd0;
	color: #444;
	font-weight: bold;
	padding: 3px 5px;
}

.dontforget { background-color: #d0edf1; }

.loginorregister { margin-top: 1em; }

