/* custom.css */

body,h1,h2,h3,h4 {
    font-family: "Belleza", "Cherry Swash", Helvetica, Arial, sans-serif;
    color: #444;
}
body { background-color: #fff; }

h1 { color: #7C5A3C; text-shadow: 1px 1px 3px rgba(0,0,0,0.2); }

label { font-weight: 400; }

