{% extends 'base.html' %}

{% block content %}
<ul class="list-unstyled">
    <li>
        <section class="player">
            <h2>Player Name <small>player tagline here</small></h2>
            <img src="http://placehold.it/200x125" />
            <section class="voting">
                <span>Vote for this gentleman:</span>
                <label><input type="checkbox" value="True" />Best Grooming</label>
                <label><input type="checkbox" value="True" />Most Creative</label>
                <label><input type="checkbox" value="True" />Finest Execution</label>
            </section>
        </section>
    </li>
    <li>
        <section class="player">
            <h2>Player Name <small>player tagline here</small></h2>
            <img src="http://placehold.it/200x125" />
            <section class="voting">
                <span>Vote for this gentleman:</span>
                <label><input type="checkbox" value="True" />Best Grooming</label>
                <label><input type="checkbox" value="True" />Most Creative</label>
                <label><input type="checkbox" value="True" />Finest Execution</label>
            </section>
        </section>
    </li>
    <li>
        <section class="player">
            <h2>Player Name <small>player tagline here</small></h2>
            <img src="http://placehold.it/200x125" />
            <section class="voting">
                <span>Vote for this gentleman:</span>
                <label><input type="checkbox" value="True" />Best Grooming</label>
                <label><input type="checkbox" value="True" />Most Creative</label>
                <label><input type="checkbox" value="True" />Finest Execution</label>
            </section>
        </section>
    </li>
</ul>
{% endblock %}
    