{% extends 'base.html' %}

{% block content %}

<p>Register so you can vote!</p>

<form class="col-12 col-md-5 col-lg-5" method="post" action="{% url 'voting:register' %}">
    {% csrf_token %}
    <fieldset>
        {% for field in register_form %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
            {{ field.error }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-lg btn-primary">Register</button>
    </fieldset>
</form>

{% endblock %}