{% extends 'base.html' %}
{% block extrastyle %}
  <style type="text/css">
    body { 
      background: #8e44ad url('../static/images/pattern.png') repeat 20px 20px; 
      -webkit-animation: pattern-movement 30s linear infinite;
         -moz-animation: pattern-movement 30s linear infinite;
           -o-animation: pattern-movement 30s linear infinite;
              animation: pattern-movement 30s linear infinite;
    }
  </style>
{% endblock %}

{% block content %}
  {% include "voting/nav.html" %}
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
          <div class="card jumbo">
            <form method="post" action="{% url 'voting:register' %}">
              {% csrf_token %}
              <h2>
                Register
                <small>rock the vote!</small>
              </h2>
              {% for field in register_form %}
                <div class="form-group">
                  {{ field }}
                  {{ field.error }}
                </div>
              {% endfor %}
              <button type="submit">Register</button>
            </form>
          </div>
      </div>
    </div>
  </div>
{% endblock %}